body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #565759;
  text-transform: uppercase;
}

h2, h3, h4 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 70px;
-webkit-box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.1);
-moz-box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.1);
box-shadow: 2px 2px 5px 0px rgba(34, 60, 80, 0.1);
}

.header_wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;  
  cursor: pointer;
}
.logo_description {
  font-size: 12px;
  color: #565759;
}

.logo_name {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 600px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;  
  text-transform: uppercase;
  color: rgb(31, 31, 31);
  cursor: pointer;
}

.fast {
  background: #106EA9;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

.slider {
  margin: 0  auto;
  max-width: 1200px;
}

.slider_image {
  position: absolute;
  z-index: -1;
}

.about {
  width: 100%;
}

.about_wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.about_contetnt {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_product {
  display: flex;
  flex-direction: column;
}

.processing,
.research {  
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  justify-content: center;
  flex-basis : auto;  
}

.research {
  flex-direction: row-reverse;
}

.about_img_right {  
  width: 500px;
  height: 300px;
  margin-left: 50px;
}

.about_img_left{
  width: 500px;
  height: 300px;
  margin-right: 50px;
}

.about_product {
  display: flex;
  width: 100;
  height: 100%;
}

.about_title {
  color: black;
  font-weight: 700;
}

.about_description {
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
}

.directions {
  width: 100%;
}

.directions_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.directions_layout {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.directions_item::first-letter {
  width: 700px;
  position: relative;
  height: 1px;
}

.directions_layout::after {
  left: 50%;
  top: 50%;
  position: absolute;
  content: '';
  height: 300px;
  width: 1px;
  background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(189,189,189,1) 0%,rgba(232,232,232,1) 0%,rgba(176,176,176,1) 0%,rgba(189,189,189,1) 30%,rgba(232,232,232,1) 65%,rgba(255,255,255,1) 100%);
}

.directions_layout::before {
  left: 50%;
  top: 18%;
  position: absolute;
  content: '';
  height: 450px;
  width: 1px;
  background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(189,189,189,1) 0%,rgba(232,232,232,1) 0%,rgba(176,176,176,1) 0%,rgba(189,189,189,1) 30%,rgba(232,232,232,1) 65%,rgba(255,255,255,1) 100%);
  transform: scaleY(-1);
}

.directions_layout img {
  margin-top: 30px;
}

.directions_item {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directions_item:nth-child(1)::after {
  left: calc((100% - 700px) - (100% - 700px)/2);
  top: 50%;
  position: absolute;
  content: '';
  width: 700px;
  height: 1px;
  background: linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(232,232,232,1) 16%,rgba(189,189,189,1) 34%,rgba(176,176,176,1) 51%,rgba(189,189,189,1) 68%,rgba(232,232,232,1) 86%,rgba(255,255,255,1) 100%);

}

.directions_item_tittle {
  padding: 1rem 0;
}

.directions_item_descrioption {
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 50px;
  text-align: justify;
}

.video {
  width: 100%;
  background-color: #f2f6f8;
}

.video_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.video_layout {
  display: flex;
  flex-direction: row;
}

.video_title{
  color: black;
  font-weight: 700;
}

.video_text {
  margin-left: 50px;
}

.video_description {
  margin-top: 30px;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  width: 450px;
}

.prototype {
  width: 100%;
}

.prototype_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.prototype_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prototype_main_title {
  color: black;
  margin-bottom: 60px;
}

.prototype_layout {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.prototype_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.prototype_title {
  margin-bottom: 1rem;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  opacity: 1;
  color: white;
  width: 100%;
  justify-content: center;

}

.overview {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(75%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.prototype_description {
  color: white;
  text-align: justify;
}

.prototype_item:hover .overview {
  transform: translateY(0);
}


.trust {
  width: 100%;
  background-color: #f2f6f8;
}

.trust_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.trust_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trust_title {
  color: black;
  margin-bottom: 50px;
}

.trust_description {
  text-align: justify;
  line-height: 25px;
  font-size: 15px;
}

.trust_description_second {
  text-align: justify;
  margin-bottom: 50px;
  line-height: 25px;
  font-size: 15px;
}

.trust_layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.trust_item {
  display: flex;
  align-items: center;
  max-width: 550px;
  justify-content: center;
}

.trust_image {
  margin-right: 40px;
}

.trust_item_description {
  text-align: justify;
  line-height: 25px;
  font-size: 15px;
}

.whywe {
  width: 100%;
}

.whywe_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.whywe_title {
  text-align: center;
}

.whywe_title {
  color: black;
  margin-bottom: 50px;
}

.whywe_item_quote {
  filter: invert(46%) sepia(66%) saturate(537%) hue-rotate(162deg) brightness(101%) contrast(89%);
}

.whywe_layout {
  display: flex;
  justify-content: space-between;
}

.whywe_item {
  max-width: 375px;
  border: solid 1px #F0F0F0;
}

.whywe_item_text {
  padding: 25px;

}

.whywe_item_description {
  text-align: justify;
  margin-bottom: 50px;
  line-height: 25px;
  font-size: 15px;
}

.who {
  padding: 25px;
  background-color: #f2f6f8;
  display: flex;
}

.who_image {
  border-radius: 50%;
}

.name {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name h4 {
  margin-bottom: 10px;
}

.steps {
  width: 100%;
  background-color: #f2f6f8;
}

.steps_wrapper{
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.steps_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.steps_title {
  color: black;
  margin-bottom: 50px;
  text-align: center;
}

.steps_item {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps_item_title {
  margin-top: 25px;
}

.steps_item_description {
  margin-top: 15px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

.steps_button {
  margin-top: 40px;
  background: #106EA9;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

.study {
  width: 100%;
}

.study_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 85px;
  padding-bottom: 85px;
}

.study_lauout {
  display: flex;
  justify-content: space-between;
}

.study_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.study_title {
  text-align: center;
  padding: 18px;
  margin-top: -64px;
  font-size: 24px;
  color: #000;
  background-color: rgba(188,188,188,0.6);
  cursor: pointer;
}

.study_title:hover {
  color: white;
  background-color: coral  
}

footer {
  width: 100%;
  background-color: #f6fbff;
}

.footer_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 85px;
}

.footer_layout {
  display: flex;
  justify-content: space-between;
}

.footer_item {
  width: 300px;
}

.footer_item_titile {
  font-size: 16px;
  font-weight: 600;
  color: #0095da;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.phone_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mail_container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.location_container {
    display: flex;
  flex-direction: row;
  align-items: center;
}

.phone_container span{
  margin-left: 10px;
}

.mail_container span {
  margin-left: 10px;
}

.location_container span {
  margin-left: 10px;

}

.footer_item p {
  color: #222;
  margin-top: 15px;
  text-align: justify;
  font-size: 15px;
}

.footer_nav_link {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;  
  text-transform: uppercase;
  color: rgb(31, 31, 31);
  cursor: pointer;
}

.socials_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  display: flex;
  align-items: center;
}

.socials_item {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.socials_item:hover {
  border: 1px solid #106EA9;
  transition: all ease 0.3s;

}

.socials_item object {
  border-radius: 50%;
  border: 5px solid transparent;
}

.socials_item object:hover{
filter: brightness(0) saturate(100%) invert(21%) sepia(75%) saturate(3084%) hue-rotate(187deg) brightness(96%) contrast(87%);  transition: 0.3s;
}

.bottom_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 0;
}

.bottom {
  width: 100%;
  background-color: #f6fbff;
}

.bottom_layout {
  display: flex;
  justify-content: space-between;
}

.bottom p{
  color: #222;
  margin-top: 15px;
  text-align: justify;
  font-size: 15px;
}

.favourites_title {
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height:  75px;
}

.favourites_title i {
  color: #B0907A;
  font-style: italic;
}

.slider_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider_item {
  display: flex;
  flex-direction: column;
}

.slider_item_image {
  display: flex;
}

.slider_item_image img{
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1200px;
}


.slider_item_title {
  margin-top: -150px;
  margin-bottom: 0;
  width: 480px;
  color: #c7c7c7;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  padding: 18px;
  font-size: 24px;
}

.slider_item_description {
  width: 480px;
  color: #c7c7c7;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 18px;
}

.slider_navigation {
  display: none;
  margin-top: 40px;
  justify-content: center;
}

.slider_nav_item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background:#C1B6AD;
}

.left_arrow{
  position: absolute;
  left: 0;
  top: calc(50%-35px);
  z-index: 1;
}

.right_arrow {
  position: absolute;
  right: 0;
  top: calc(50%-35px);
}

.left_arrow,
.right_arrow {
  cursor: pointer;
}

svg #left_arrow,
svg #left_round,
svg #right_round,
svg #right_arrow {
  transition: 500ms;
  transition-timing-function: ease-in-out;
}

svg:hover #left_round,
svg:hover #right_round {
  fill: #665F55
}

svg:hover #left_arrow,
svg:hover #right_arrow  {    
  stroke: #C1B6AD;
}

.active_item {
  background: #665F55;
}

.slider_nav_item:not(:last-child) {
  margin-right: 12px;
}

.slider_wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
}

.slider_item {
  position: relative;
  margin: 0 auto;
  display: none;
  transition: all .5s;
  animation: 0.5s ease-in-out;
}

.active_slide,
.next {
  display: flex;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.right {
  animation-name: right;
      animation-direction: reverse;
}

.left {
  animation-name: left;
}

.from-right {
  animation-name: right;

}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes right {
  from {left: 100%;}
  to {left: 0;}
}

@keyframes left {
  from {left: 0;}
  to {left: -100%;}
}